
@font-face {
  font-family: "DINPro-Black";
  src: url("/fonts/DINPro-Blacktr.eot"); /* IE9 Compat Modes */
  src: url("/fonts/DINPro-Blacktr.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/fonts/DINPro-Blacktr.otf") format("opentype"), /* Open Type Font */
    url("/fonts/DINPro-Blacktr.svg") format("svg"), /* Legacy iOS */
    url("/fonts/DINPro-Blacktr.ttf") format("truetype"), /* Safari, Android, iOS */
    url("/fonts/DINPro-Blacktr.woff") format("woff"), /* Modern Browsers */
    url("/fonts/DINPro-Blacktr.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: "DINPro-Black";
    src: url("/fonts/DINPro-Black.eot"); /* IE9 Compat Modes */
    src: url("/fonts/DINPro-Black.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/fonts/DINPro-Black.otf") format("opentype"), /* Open Type Font */
    url("/fonts/DINPro-Black.svg") format("svg"), /* Legacy iOS */
    url("/fonts/DINPro-Black.ttf") format("truetype"), /* Safari, Android, iOS */
    url("/fonts/DINPro-Black.woff") format("woff"), /* Modern Browsers */
    url("/fonts/DINPro-Black.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "DINPro-Bold";
    src: url("/fonts/DINPro-Boldtr.eot"); /* IE9 Compat Modes */
    src: url("/fonts/DINPro-Boldtr.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/fonts/DINPro-Boldtr.otf") format("opentype"), /* Open Type Font */
    url("/fonts/DINPro-Boldtr.svg") format("svg"), /* Legacy iOS */
    url("/fonts/DINPro-Boldtr.ttf") format("truetype"), /* Safari, Android, iOS */
    url("/fonts/DINPro-Boldtr.woff") format("woff"), /* Modern Browsers */
    url("/fonts/DINPro-Boldtr.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "DINPro-Bold";
    src: url("/fonts/DINPro-Bold.eot"); /* IE9 Compat Modes */
    src: url("/fonts/DINPro-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/fonts/DINPro-Bold.otf") format("opentype"), /* Open Type Font */
    url("/fonts/DINPro-Bold.svg") format("svg"), /* Legacy iOS */
    url("/fonts/DINPro-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("/fonts/DINPro-Bold.woff") format("woff"), /* Modern Browsers */
    url("/fonts/DINPro-Bold.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "DINPro-Light";
    src: url("/fonts/DINPro-Lighttr.eot"); /* IE9 Compat Modes */
    src: url("/fonts/DINPro-Lighttr.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/fonts/DINPro-Lighttr.otf") format("opentype"), /* Open Type Font */
    url("/fonts/DINPro-Lighttr.svg") format("svg"), /* Legacy iOS */
    url("/fonts/DINPro-Lighttr.ttf") format("truetype"), /* Safari, Android, iOS */
    url("/fonts/DINPro-Lighttr.woff") format("woff"), /* Modern Browsers */
    url("/fonts/DINPro-Lighttr.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "DINPro-Light";
    src: url("/fonts/DINPro-Light.eot"); /* IE9 Compat Modes */
    src: url("/fonts/DINPro-Light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/fonts/DINPro-Light.otf") format("opentype"), /* Open Type Font */
    url("/fonts/DINPro-Light.svg") format("svg"), /* Legacy iOS */
    url("/fonts/DINPro-Light.ttf") format("truetype"), /* Safari, Android, iOS */
    url("/fonts/DINPro-Light.woff") format("woff"), /* Modern Browsers */
    url("/fonts/DINPro-Light.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "DINPro-Medium";
    src: url("/fonts/DINPro-Mediumtr.eot"); /* IE9 Compat Modes */
    src: url("/fonts/DINPro-Mediumtr.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/fonts/DINPro-Mediumtr.otf") format("opentype"), /* Open Type Font */
    url("/fonts/DINPro-Mediumtr.svg") format("svg"), /* Legacy iOS */
    url("/fonts/DINPro-Mediumtr.ttf") format("truetype"), /* Safari, Android, iOS */
    url("/fonts/DINPro-Mediumtr.woff") format("woff"), /* Modern Browsers */
    url("/fonts/DINPro-Mediumtr.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "DINPro-Medium";
    src: url("/fonts/DINPro-Medium.eot"); /* IE9 Compat Modes */
    src: url("/fonts/DINPro-Medium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/fonts/DINPro-Medium.otf") format("opentype"), /* Open Type Font */
    url("/fonts/DINPro-Medium.svg") format("svg"), /* Legacy iOS */
    url("/fonts/DINPro-Medium.ttf") format("truetype"), /* Safari, Android, iOS */
    url("/fonts/DINPro-Medium.woff") format("woff"), /* Modern Browsers */
    url("/fonts/DINPro-Medium.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "DINPro-Regular";
    src: url("/fonts/DINPro-Regular.eot"); /* IE9 Compat Modes */
    src: url("/fonts/DINPro-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/fonts/DINPro-Regular.otf") format("opentype"), /* Open Type Font */
    url("/fonts/DINPro-Regular.svg") format("svg"), /* Legacy iOS */
    url("/fonts/DINPro-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("/fonts/DINPro-Regular.woff") format("woff"), /* Modern Browsers */
    url("/fonts/DINPro-Regular.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Fabiana-Regular";
    src: url("/fonts/Fabiana.eot"); /* IE9 Compat Modes */
    src: url("/fonts/Fabiana.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/fonts/Fabiana.otf") format("opentype"), /* Open Type Font */
    url("/fonts/Fabiana.svg") format("svg"), /* Legacy iOS */
    url("/fonts/Fabiana.ttf") format("truetype"), /* Safari, Android, iOS */
    url("/fonts/Fabiana.woff") format("woff"), /* Modern Browsers */
    url("/fonts/Fabiana.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Mission-Script";
    src: url("/fonts/Mission-Script.eot"); /* IE9 Compat Modes */
    src: url("/fonts/Mission-Script.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/fonts/Mission-Script.otf") format("opentype"), /* Open Type Font */
    url("/fonts/Mission-Script.svg") format("svg"), /* Legacy iOS */
    url("/fonts/Mission-Script.ttf") format("truetype"), /* Safari, Android, iOS */
    url("/fonts/Mission-Script.woff") format("woff"), /* Modern Browsers */
    url("/fonts/Mission-Script.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}
/* font converted using font-converter.net. thank you! */
@font-face {
    font-family: "DIN-RegularItalic";
    src: url("/fonts/DINRegularItalic.eot"); /* IE9 Compat Modes */
    src: url("/fonts/DINRegularItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/fonts/DINRegularItalic.otf") format("opentype"), /* Open Type Font */
    url("/fonts/DINRegularItalic.svg") format("svg"), /* Legacy iOS */
    url("/fonts/DINRegularItalic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("/fonts/DINRegularItalic.woff") format("woff"), /* Modern Browsers */
    url("/fonts/DINRegularItalic.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}